/**
df = display: flex;
* jcsb = justify-content: space-between;
**/
/**
* !Changing default styles of the browser
**/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.logo {
  height: 90px;
  border: 2px black;
  border-radius: 50%;
}

/* ? Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #262322;
  color: #f2e5d7;
  padding: 25px 60px;
  width: 100%;
  max-height: fit-content;
}

.nav__container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  background-color: #262322;
  position: sticky;
  top: 0;
}

.nav__p {
  color: #f2e5d7;
  text-decoration: none;
}

.cart {
  background-color: #f2e5d7;
  color: #262322;
  padding: 5px;
  font-size: 30px;
  border-radius: 4px;
  position: relative;
  height: 42px;
}

/* ? Cards section */
.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: #f2e5d7;
  border-radius: 3px;
  padding: 3px;
}

.featured__dishes__h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.featured__dishes {
  justify-content: center;
  text-align: center;
  margin: 20px;
  display: flex;
  margin-top: 0;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.featured__dishes div {
  margin-bottom: 15px;
  border: solid black 1px;
  margin: 1rem;
  padding: 0.3rem;
  width: 28ch;
}

.featured__dishes img {
  width: 90%;
  height: auto;
}

.menu__container {
  display: flex;
  justify-content: center;

  font-size: 1.5rem;
}

.menu__h3 {
  color: #262322;
  margin-bottom: 1rem;
}

.about__us__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background-color: #262322;
}

.about__us__h2 {
  color: #f2e5d7;
  margin-top: 1rem;
}

.p__about__us {
  max-width: 90%;
  justify-content: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  color: #f2e5d7;
}

.footer__container {
  background-color: #262322;
  height: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__text {
  color: #f2e5d7;
}

.img {
  width: 2.5rem;
  border-radius: 15px;
}

.img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* ! Food Container */
#bbq_container {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}

@media (max-width: 1000px) {
  #bbq_container {
    grid-template-columns: repeat(2, 223px);
  }
}
@media (max-width: 500px) {
  #bbq_container {
    grid-template-columns: repeat(1, 223px);
  }
}

.bbq-item {
  border: 1px solid #262322;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

.price_quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
}

.bi-dash-lg {
  color: red;
  font-weight: bold;
}
.bi-plus-lg {
  color: green;
  font-weight: bold;
}

/*  Review */
/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Style for modal */
.modal_content {
  margin: 5% auto;
  padding: 20px;
  width: clamp(350px, 40%, 500px);
  height: clamp(552px, 40%, 400px);
  border-radius: 1rem;
  color: red;
}

#open_modal {
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem;
}

/* Review form */
#review_form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#review_form label,
#review_form textarea,
#review_form input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

#review_form textarea {
  height: 100px;
}

#review_form button {
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#review_form button:hover {
  background-color: #990000;
}

/* CLose button */
.close:hover,
.close:focus {
  color: #990000;
}

.close {
  color: #ff0000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* ! End of Review */
