/**
df = display: flex;
* jcsb = justify-content: space-between;
**/
/**
* !Changing default styles of the browser
**/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.logo{
  height: 100px;
  border: 2px black;
  border-radius: 50%;
}

/* ? Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #262322;
  color: #f2e5d7;
  padding: 25px 60px;
  margin-bottom: 30px;
}

.cart {
  background-color: #f2e5d7;
  color: #262322;
  padding: 5px;
  font-size: 30px;
  border-radius: 4px;
  position: relative;
  height: 42px;
}

/* ? Cards section */
.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: #f2e5d7;
  border-radius: 3px;
  padding: 3px;
}

.about__us__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background-color: #262322;
}

.about__us__h2 {
  color: white;
  margin-top: 1rem;
}

.p__about__us {
  max-width: 90%;
  justify-content: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  color: white;
}

.footer__container {
  background-color: #262322;
  height: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__text {
  color: white;
}

.img {
  width: 2.5rem;
  border-radius: 15px;
}

.img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
/* Items cards styles */
/* gt = display grid, gtc = grid-template-columns: repeat(); */

/* Items cards styles */
/* gt = display grid, gtc = grid-template-columns: repeat(); */
/* ! Food Container */
#bbq_container {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}

@media (max-width: 1000px) {
  #bbq_container {
    grid-template-columns: repeat(2, 223px);
  }
}
@media (max-width: 500px) {
  #bbq_container {
    grid-template-columns: repeat(1, 223px);
  }
}

.bbq-item {
  border: 1px solid #262322;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

/* .details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
} */

.price_quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
}

.bi-dash-lg {
  color: red;
  font-weight: bold;
}
.bi-plus-lg {
  color: green;
  font-weight: bold;
}
